{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post creation</h1>

    <div class="form-group">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="btn btn-success pull-right" type="submit" value="Create" />
        {{ form_end(form) }}
        <a class="btn btn-default" href="{{ path('post_index') }}">Back to the list</a>
    </div>
{% endblock %}
